.hero-container {
  width: 100%;
  height: 682px;
  background-size: cover;
  position: relative;
  z-index: -1;
  opacity: 1;
  transform-origin: center;
  transition: all linear 1s;
}

.hero-slide {
  width: 1144px;
  height: 552px;
  box-sizing: border-box;
  padding: 64px 0 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 24px;
}

.hero-bars {
  width: 24px;
  height: 288px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hero-bar-clickable {
  width: 20px;
  height: 64.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.hero-bar {
  width: 10px;
  height: 64.5px;
  background-color: #ffffff80;
  border-radius: 5px;
}

.hero-bar-fill {
  width: 10px;
  background: #fff;
  border-radius: 5px;
}
