.hero-slide-content {
  height: 288px;
  width: 480px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 56px;
  word-break: break-all;
  overflow-wrap: break-word;
  color: white;
  fill: white;
}

.hero-slide-content > div:first-child {
  margin: 8px 0 24px;
}

.hero-slide-btn {
  min-width: 77px;
  max-width: 177px;
  height: 24px;
  padding: 12px 32px;
  background: rgba(224, 7, 7, 1);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
  transform: all 0.8s;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.hero-slide-btn:hover {
  background-color: rgb(244, 13, 21);
}

.hero-slide-btn > a {
  color: white;
}
