.write-a-review-page-container {
  min-width: 500px;
  max-width: 1903px;
  display: flex;
  flex-direction: column;
  height: 912px;
}

.write-a-review-bottom-container {
  display: flex;
  min-width: 500px;
  max-width: 1903px;
  height: 816px;
}

.write-a-review-main-container {
  flex: 1;
  max-width: 1903px;
  padding-left: 15px;
  box-sizing: content-box;
}

.write-a-review-inner-container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.recent-reviews-right-container {
  max-width: 341px;
}
