.autoservices-dropdown-container {
  width: 146px;
  position: relative;
}

.autoservices-dropdown {
  width: 146px;
  height: 54px;
  display: flex;
  padding: 16px 16px 20px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.navbar-span {
  position: relative;
  top: 1px;
}

.autoservices-dropdown-revealed {
  width: 299.5px;
  height: 160px;
  background-color: #fff;
  position: relative;
  border-color: #ebebeb;
  box-shadow: 0 0 18px #00000026;
  padding: 20px 12px;
  border-radius: 8px;
  border-top-left-radius: 0;
  z-index: 999;
  display: flex;
}

.autoservices-left-dropdown {
  padding-right: 4px;
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.autoservices-right-dropdown {
  padding-left: 4px;
  width: 136.5px;
  height: 160px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.autoservices-left-dropdown-option {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: 8px;
  height: 40px;
  gap: 12px;
  position: relative;
  border-radius: 4px;
}

.autoservices-left-dropdown-option:hover {
  background-color: #ebebeb;
}

.autoservices-left-dropdown-option > svg {
  width: 24px;
  height: 24px;
}

.autoservices-left-dropdown-option > div {
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: black;
}

.autoservices-right-dropdown-option {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: 8px;
  height: 40px;
  gap: 12px;
  border-radius: 4px;
  position: relative;
}

.autoservices-right-dropdown-option:hover {
  background-color: #ebebeb;
}

.autoservices-right-dropdown-option > svg {
  width: 24px;
  height: 24px;
}

.autoservices-right-dropdown-option > div {
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: black;
}
