.profile-page-container {
  width: 1903px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.profile-banner-container {
  width: 1903px;
  height: 196px;
  padding-top: 15px;
  background-color: #f5f5f5;
  background-image: url(https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_user_details/3a3ed7e5327e/assets/img/stars-static.png);
  background-position: bottom;
  background-size: 1400px 268px;
  background-repeat: no-repeat;
}

.profile-header-container {
  width: 960px;
  height: 180px;
  padding: 9px 0 24px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.profile-photo-container {
  width: 217px;
  height: 217px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.profile-photo-container > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.profile-info-container {
  width: 465px;
  height: 147px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #333;
}

.profile-user-name {
  width: 100%;
  height: 36px;
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2em;
}

.profile-user-location {
  width: 100%;
  height: 21px;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.3125em;
  font-weight: normal;
}

.profile-user-icons {
  width: 100%;
  height: 24px;
  display: flex;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: normal;
}

.profile-friend-icon-container {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  width: 94px;
  height: 24px;
  margin-right: 6px;
  align-items: center;
}

.profile-friend-count {
  font-weight: bold;
}

.profile-review-icon-container {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  width: 94px;
  height: 24px;
  margin-right: 6px;
  align-items: center;
}

.profile-review-count {
  font-weight: bold;
}

.profile-actions-container {
  width: 232px;
  height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-actions-inner-container {
  width: 232px;
  height: 91px;
  display: flex;
  flex-direction: column;
  padding: 0 0 6px 15px;
  border-left: 1px solid #e6e6e6;
}

.profile-action-btn {
  width: 216px;
  height: 28px;
  box-sizing: border-box;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #0073bb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  align-items: center;
}

.profile-action-btn:hover {
  text-decoration: underline;
}

.profile-action-icon {
  width: 18px;
  height: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 2px;
}

.profile-content-wrapper {
  width: 1903px;
  min-height: 670px;
}

.profile-content-container {
  width: 990px;
  height: 670px;
  box-sizing: border-box;
  padding: 24px 15px 36px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.profile-left-column {
  width: 247.5px;
  height: 590.5px;
  margin-top: 27px;
  padding-right: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

.column-nav-header {
  width: 217.5px;
  height: 45px;
  padding: 12px 12px 12px 0;
  font-weight: 700;
  font-size: 16px;
}

.column-nav-row {
  display: flex;
  align-items: center;
  width: 217.5px;
  height: 43px;
  padding: 12px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
}

.column-nav-row:hover {
  background-color: #f5f5f5;
}

.column-nav-selected {
  background-color: #f5f5f5;
  position: relative;
}

.column-nav-selected::before {
  content: "";
  left: 0;
  width: 3px;
  height: 43px;
  position: absolute;
  background-color: #d32323;
}

.column-nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.profile-center-column {
  width: 495px;
  min-height: 185px;
  padding: 0 15px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.profile-right-column {
  width: 247.5px;
  height: 189px;
  padding-left: 15px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-left: 1px solid #e6e6e6;
  color: #333333;
}

.side-column-header {
  width: 216px;
  height: 21px;
  margin-bottom: 6px;
  color: #d32323;
  font-size: 16px;
  line-height: 1.3125em;
  font-weight: bold;
}

.side-column-row-header {
  width: 216px;
  height: 18px;
  margin-bottom: 6px;
  font-weight: bold;
}

.side-column-row {
  width: 216px;
  height: 18px;
  margin-bottom: 12px;
}
