.review-main-container {
  width: 747px;
  min-height: 210px;
}

.review-header-container {
  width: 747px;
  height: 68px;
  display: flex;
  justify-content: space-between;
}

.review-header-info-container {
  width: 674px;
  height: 68px;
  display: flex;
  justify-content: space-between;
}

.review-user-profile-picture-container {
  width: 64px;
  height: 68px;
  box-sizing: border-box;
  padding: 2px 0;
  border-radius: 50%;
  cursor: pointer;
}

.review-user-profile-picture-container > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.review-user-info-container {
  width: 598px;
  height: 68px;
}

.review-user-info-top {
  width: 598px;
  height: 44px;
}

.review-user-name {
  height: 22px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  color: rgb(45, 46, 47);
  cursor: pointer;
}

.review-user-name:hover {
  text-decoration: underline;
}

.review-user-location {
  height: 20px;
  margin-top: 2px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  color: rgb(45, 46, 47);
}

.review-user-icons {
  height: 20px;
  margin-top: 4px;
  display: flex;
}

.user-icon-container {
  height: 20px;
  width: 43px;
  margin-right: 8px;
  display: flex;
  gap: 4px;
  fill: rgb(110, 112, 114);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  color: rgb(110, 112, 114);
  align-items: center;
}

.review-header-menu-container {
  width: 40px;
  height: 68px;
}

.review-header-menu-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}

.review-header-menu-btn:hover {
  background-color: rgb(226, 226, 230);
}

.user-review-stars-container {
  width: 747px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0 12px;
}

.user-review-stars-row {
  width: 747px;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  color: rgb(110, 112, 114);
}

.user-review-text {
  width: 655px;
  height: auto;
  margin-bottom: 16px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  color: rgb(45, 46, 47);
}

.review-react-btns-container {
  width: 747px;
  height: 31px;
  display: flex;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  color: rgb(110, 112, 114);
  margin-bottom: 24px;
}

.useful-btn {
  min-width: 92px;
  height: 31px;
  box-sizing: border-box;
  margin-right: 12px;
  padding: 6px 12px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  border: 1px solid rgb(200, 201, 202);
}

.useful-btn:hover {
  background-color: rgb(226, 226, 230);
}

.funny-btn {
  min-width: 90px;
  height: 31px;
  box-sizing: border-box;
  margin-right: 12px;
  padding: 6px 12px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  border: 1px solid rgb(200, 201, 202);
}

.funny-btn:hover {
  background-color: rgb(226, 226, 230);
}

.cool-btn {
  min-width: 81px;
  height: 31px;
  box-sizing: border-box;
  margin-right: 12px;
  padding: 6px 12px;
  display: flex;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  border: 1px solid rgb(200, 201, 202);
}

.cool-btn:hover {
  background-color: rgb(226, 226, 230);
}

.review-btn-clicked {
  border-color: #027a97;
  color: #027a97;
  fill: #027a97;
  background-color: #ebf6ff;
  font-weight: 700;
}
