.business-reviews-sorting-options-container {
  width: 747px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 48px;
  transition: box-shadow 0.2s ease-in-out;
}

.sorting-btns-container {
  width: 400px;
  height: 40px;
  display: flex;
  color: rgb(45, 46, 47);
  font-size: 12px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
}

.help-sort {
  width: 128px;
  height: 40px;
  position: relative;
}

.help-sort-btn {
  width: 120px;
  height: 32px;
  box-sizing: border-box;
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid rgb(200, 201, 202);
  border-radius: 16px;
  transition: all 0.4s;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.help-sort-btn:hover {
  background-color: rgb(226, 226, 230);
}

.help-sort-dropdown {
  width: 139px;
  width: 149px;
  height: 212px;
  height: 284px;
  box-sizing: border-box;
  padding: 16px;
  color: rgb(45, 46, 47);
  font-size: 14px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 18px #00000026;
  position: relative;
  z-index: 10;
}

.help-sort-dropdown > div {
  width: 110px;
  width: 120px;
  height: 36px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}

.help-sort-dropdown > div:hover {
  background-color: rgb(226, 226, 230);
}

.active-help-sort {
  background-color: #ebfbff;
  font-weight: 600;
}

.filter-by-rating-sort {
  width: 178px;
  height: 40px;
  position: relative;
}

.filter-by-rating-sort-btn {
  width: 172px;
  height: 32px;
  box-sizing: border-box;
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid rgb(200, 201, 202);
  border-radius: 16px;
  transition: all 0.4s;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rating-sort-service {
  width: 182px;
}

.filter-by-rating-sort-btn:hover {
  background-color: rgb(226, 226, 230);
}

.rating-sort-dropdown {
  width: 112px;
  height: 248px;
  box-sizing: border-box;
  padding: 16px;
  color: rgb(45, 46, 47);
  font-size: 14px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 18px #00000026;
  position: relative;
  z-index: 10;
  left: 10px;
}

.rating-sort-dropdown > div {
  width: 85.5px;
  height: 36px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}

.rating-sort-dropdown > div:hover {
  background-color: rgb(226, 226, 230);
}

.active-rating-sort {
  background-color: #ebfbff;
  font-weight: 600;
}

.review-search-bar {
  width: 238px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  padding-left: 8px;
  position: relative;
}

.review-search-bar > input {
  margin: 0;
  padding: 13px 64px 13px 16px;
  height: 14px;
  border-radius: 4px;
  border: 1px solid rgba(45, 46, 47, 0.3);
  width: 150px;
  box-sizing: content-box;
}

.review-search-bar > input:focus {
  box-shadow: inset 0 0 0 2px #027a97;
}

.review-search-bar-text {
  position: absolute;
  top: 11px;
  left: 24px;
  bottom: 13px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  color: #2d2e2f;
  height: 19px;
  transform: translateY(0px);
  transform-origin: left top;
  transition: transform, width, background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.review-search-bar-focused {
  position: absolute;
  top: 14px;
  left: 20px;
  transform: translateY(-22px);
  transform-origin: left top;
  transition: transform, width, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #027a97;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  width: 95px;
  display: flex;
  justify-content: center;
}

.review-search-icon {
  width: 56px;
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  cursor: pointer;
  fill: rgb(45, 46, 47);
  display: flex;
  align-items: center;
  transition: all 0.8s;
  position: absolute;
  right: 0;
}

.review-search-icon:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
