/* TODO Add site wide styles */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: auto;
  position: relative;
  z-index: -1;
}

ol,
ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#root {
  position: relative;
  z-index: -2;
}

.vsc-initialized {
  position: relative;
  z-index: -2;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(224, 7, 7, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(224, 7, 7, 0.8);
}
